* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

header h1 {
  background-color: black;
  color: white;
  display: block;
  margin: 10% 10% auto 10%;
  padding: 10% 10% auto 10%;
  border: 10% 10% auto 10%;
}

.container li {
  display: inline;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  background-color: grey;
  color: white;
  margin: 10% auto auto 10%;
}

.intro {
  border: 50%;
  font-size: 16px;
  background-color: grey;
  color: white;
  margin: 10% 10% auto 10%;
}
